In [4]:
import pandas as pd
import gspread

In [5]:
gs = gspread.service_account(filename='D:\\ml\\dsml\\practice\\google_spreed_sheet\\clear-radio-405207-eab4a6e8b60f.json')
gs

In [6]:
sheet = gs.open_by_url('https://docs.google.com/spreadsheets/d/1P1YjslbghMxoKD1auE019tF_YCnawGp8nPfQyr_xDJE/edit?usp=sharing')
sheet

In [7]:
ws1 = sheet.worksheet('Sheet1')
df1 = pd.DataFrame(ws1.get_all_records())

In [8]:
df1

   name1  age1
0  Hasan    23
1  Masud    34
2  Maruf    45
3   Azad    43
4  Rajib    32
5  Nahid    25

In [9]:
ws2 = sheet.worksheet('Sheet2')
df2 = pd.DataFrame(ws2.get_all_records())

In [10]:
df2

    name2  age2
0   Mamun    22
1   Rabbi    23
2    Arif    24
3  Samsul    25
4   Sadir    26
5  Mehedi    27